/* Importando o CSS do Bootstrap e dos Ícones */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  
}






@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-timeline: --page-scroll block;
  }
}