/* Importando o CSS do Bootstrap e dos Ícones */



html {
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  
}






@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-timeline: --page-scroll block;
  }
}